<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="preview">
      <ion-avatar>
        <img *ngIf="imageUrl; else placheholder_avatar;" [src]="imageUrl" />
         <ng-template #placheholder_avatar>
           <div class="fallback">
             <p>Select avatar</p>
           </div>
        </ng-template>
      </ion-avatar>
    </div>
   </ion-content>
</ion-content>
