<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My home camera
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="preview">
      this is preview below
      <div class="show-img">
        <div class="images-preview" *ngFor="let items of date">
          <img src={{items.url}} class="img-responsive" alt="{{items.url}}" />
        </div>
      </div>
    </div>
  </ion-content>
</ion-content>
