<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      My home camera
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-content class="ion-padding">
    <div class="preview">
      this is camerahome works!

      <div class="camera">
        <input type="file" id="file" #userPhoto (change)="onFileSelected($event)" name="image" autocomplete="off" />
        <ion-button [mode]="mode" expand="block" color="primary" (click)="getFiles($event)"></ion-button>
      </div>
    </div>
  </ion-content>
</ion-content>
